<div class="main-component">
  <div class="col-md-11 col-lg-9 col-12 mt-5 mb-5 d-flex flex-wrap">
    <div class="col-lg-9 col-12 article-main">
      <div class="img-main">
        <img [src]="imageUrl+responseData.img" alt="">
      </div>
      <div class="text-article">
        <div class="text-box-main">
          <span>
            {{responseData.name}}
          </span>
          <p [innerHtml]="responseData.description"></p>
        </div>
        <!-- <div class="text-box-side">
          <span>الموقع</span>
          <p>
            تتميز أبراج الواحة بموقعها بين شارع محمد بن عبدالعزيز (التحلية سابقا) وشارع فلسطين وكذلك بالقرب
            من طريق الحرمين الرابط بين كافة احياء جدة ولما لهذه الشوارع من أهمية وكونهما احد اهم الطرق
            الرئيسية لمدينة جدة كما يتميز الموقع بمنظومة مكتملة من الخدمات التي تلبي احتياجات الاسر اليومية
          </p>
        </div> -->
        


      </div>
    </div>
    
  </div>
</div>
