<div class="main-component" style="background-color: #f7f7f7;">
  <div class="col-md-11 col-lg-9 col-12 mt-5 mb-5">
    <div class="section-title-contact" data-aos="fade-down" data-aos-offset="-200" data-aos-delay="0"
      data-aos-duration="500" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="true"
      data-aos-anchor-placement="top-center">
      <!-- <span>
        {{'contactus.title' | translate}}
      </span> -->
      <p>
        <!-- {{responseData.title}} -->
        {{'nocontent.terms' | translate}}
      </p>

      <p [innerHtml]="responseData.description">

      </p>
    </div>
    <div class="contact-block">
      <!-- <div class="form-contact col-lg-6 col-12">
        <div class="form-single">
          <input type="text" placeholder="{{'contactus.contactname' | translate}}">
        </div>
        <div class="form-single">
          <input type="text" placeholder="{{'contactus.contactemail' | translate}}">
        </div>
        <div class="form-single">
          <input type="text" placeholder="{{'contactus.contactphone' | translate}}">
        </div>
        <div class="form-single">
          <textarea name="contact-text-area" placeholder="{{'contactus.contactmessage' | translate}}" id=""></textarea>
        </div>


        <div class="form-signle">
          <div class="showall-button" style="margin-top: 20px;">
            <span>{{'contactus.contactsend' | translate}}</span>
          </div>
        </div>
      </div>
      <div class="background-contact col-lg-6">
        <img [src]="'assets/img/contact/contact-background1.png'" alt="">
      </div> -->
    </div>
  </div>
</div>
