<div class="main-component" style="background-color: #f7f7f7;">
  <div class="col-md-11 col-lg-9 col-12 mt-5">
    <div class="projects-main">
      <div class="project-block" routerLink="/company/{{company.id}}"
        *ngFor="let company of responseData" data-aos="fade-up" data-aos-offset="-200" data-aos-delay="0"
        data-aos-duration="500" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="true"
        data-aos-anchor-placement="top-center">
        <img [src]="imageUrl+company.img" alt="">
        <div class="text-block">
          <span>{{company.name}}</span>
          <p>
            {{company.description |  truncate : 60 }}
          </p>
        </div>

      </div>
    </div>
  </div>



</div>
<app-partners></app-partners>

